<html>
<body>
<h2>Please login</h2><br>

<br>
(Username is 'user' or 'user2, password is 'pass')
<br>

<form action="/login/auth" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="username"/>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <input type="submit" value="Log In"/>
  </div>
</form>
</body>
</html>
